<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div class="row" layout:fragment="access-denied">
  <div class="row">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">ACCESS DENIED!</h4>
      <p>У ВАС нет доступа к страницам предназначенным для адмистратора</p>
      <hr>
      <p class="mb-0">ЕСЛИ ВЫ ЯВЛЯЕТЕСЬ АДМИНОМ, ТО СООБЩИТЕ ОБ ОШИБКЕ ПО ПОЧТЕ bitlab@gmail.com</p>
    </div>
  </div>
</div>
</html>