<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="row" layout:fragment="changePassword">
    <form th:action="@{'/change-password'}" method="post">
        <div class="form-group">
            <label class="form-label">EMAIL</label>
            <input type="email" class="form-control" name="user-email" th:value="${#authentication.principal.email}">
        </div>
        <div class="form-group">
            <label class="form-label">OLD-PASSWORD</label>
            <input type="password" class="form-control" name="user-old-password">
        </div>
        <div class="form-group">
            <label class="form-label">NEW PASSWORD</label>
            <input type="password" class="form-control" name="user-new-password">
        </div>
        <div class="form-group">
            <label class="form-label">NEW RE-PASSWORD</label>
            <input type="password" class="form-control" name="user-re-new-password">
        </div>
        <div class="form-group">
            <button class="btn btn-info">CHANGE PASSWORD</button>
        </div>
    </form>
</div>
</html>